body {
  padding: 200px;
}

main {
  display:flex;
  flex-direction:column;
}

.buttons {
  display:flex;
  justify-content: space-evenly;
}

#main-content {
  margin-top:30px;
}

.article {
  margin-bottom:60px;
  text-align:center;
}

.article img {
  width:100%;
}